In [54]:
import pandas as pd
import os
import re

print(os.path.abspath("./"))

/home/matthias/Documents/code/training_tracker

In [55]:
csv = pd.read_csv("export/voaww_status_update_2021-02-06.csv")

In [56]:
csv

,Department,Name,Email address,Institution,ID number,Chapter 1,Chapter 2,Chapter 3,Due Date #1,Chapter 4,...,Chapter 8,Chapter 11,Due Date #4,Chapter 9,Chapter 10,Chapter 12,Due Date #5,Chapter 12 Skills Lab,Total Hours Completed,Total Hours Outstanding
0,Skagit County,Morgan Eco,ecomorgan2215@gmail.com,VOAWW,3011,2021-01-22 20:45:00,2021-01-27 10:07:00,Not Started,NaN,Not Started,...,Not Started,Not Started,NaN,Not Started,Not Started,Not Started,NaN,NaN,NaN,NaN
1,King County,Tatiana Green-Koenigshof,tatigrace2000@gmail.com,VOAWW,3013,2021-01-05 20:29:00,2021-01-13 10:07:00,2021-01-07 20:39:00,NaN,2021-01-12 14:46:00,...,2021-01-22 09:34:00,Not Started,NaN,Not Started,Not Started,Not Started,NaN,NaN,NaN,NaN
2,Skagit County,Imelda Navejas,imeldanavejas21@gmail.com,VOAWW,3010,2021-01-06 22:27:00,2021-01-13 10:08:00,2021-01-13 13:18:00,NaN,2021-01-21 12:31:00,...,Started(88%),Not Started,NaN,Not Started,Not Started,Not Started,NaN,NaN,NaN,NaN
3,King County,Starlyn Zucati,starlett87@gmail.com,VOAWW,3014,2021-01-13 10:06:00,2021-01-15 09:12:00,2021-01-08 07:44:00,NaN,2021-01-08 11:46:00,...,Not Started,2021-01-29 12:45:00,NaN,Not Started,2021-01-29 12:00:00,Started(27%),NaN,NaN,NaN,NaN
4,Snohomish County,Sheriff Jammeh,siffammeh2004@gamil.com,VOAWW,2982,Not Enrolled,Not Enrolled,Not Enrolled,NaN,Not Enrolled,...,Not Enrolled,2021-01-19 14:13:00,NaN,Not Enrolled,2021-01-27 11:44:00,Not Enrolled,NaN,NaN,NaN,NaN

In [57]:
html = csv.loc[2,:].to_frame()
html = html.loc[["Chapter 1", "Chapter 2", "Chapter 3", "Chapter 4", "Chapter 5", "Chapter 6", "Chapter 7", "Chapter 8", "Chapter 9", "Chapter 10", "Chapter 11", "Chapter 12", "Chapter 13", "Chapter 14"]]
html = html.to_html()

print(html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Chapter 1</th>
      <td>2021-01-06 22:27:00</td>
    </tr>
    <tr>
      <th>Chapter 2</th>
      <td>2021-01-13 10:08:00</td>
    </tr>
    <tr>
      <th>Chapter 3</th>
      <td>2021-01-13 13:18:00</td>
    </tr>
    <tr>
      <th>Chapter 4</th>
      <td>2021-01-21 12:31:00</td>
    </tr>
    <tr>
      <th>Chapter 5</th>
      <td>2021-01-22 09:23:00</td>
    </tr>
    <tr>
      <th>Chapter 6</th>
      <td>2021-01-22 09:28:00</td>
    </tr>
    <tr>
      <th>Chapter 7</th>
      <td>2021-01-30 22:51:00</td>
    </tr>
    <tr>
      <th>Chapter 8</th>
      <td>Started(88%)</td>
    </tr>
    <tr>
      <th>Chapter 9</th>
      <td>Not Started</td>
    </tr>
    <tr>
      <th>Chapter 10</th>
      <td>Not Started</td>
    </tr>
    <tr>
      <th>Chapter 11</th>
      <td>Not Started</td>
    </tr>
    <tr>
      <th>Chapter 12</th>
      <td>Not Started</td>
    </tr>
    <tr>
      <th>Chapter 13</th>
      <td>Not Started</td>
    </tr>
    <tr>
      <th>Chapter 14</th>
      <td>Not Started</td>
    </tr>
  </tbody>
</table>

In [62]:
html = re.sub("<td>Not Started","<td style=\"background: orange;\">Not Started",html)
html = re.sub("<td>Started","<td style=\"background: yellow;\">Started",html)
html = re.sub("<td>\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d","<td style=\"background: green;\">Finished",html)
html = re.sub("<td>\d\d/\d\d/\d\d\d\d","<td style=\"background: green;\">Finished",html)
print(html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Chapter 1</th>
      <td style="background: green;">Finished</td>
    </tr>
    <tr>
      <th>Chapter 2</th>
      <td style="background: green;">Finished</td>
    </tr>
    <tr>
      <th>Chapter 3</th>
      <td style="background: green;">Finished</td>
    </tr>
    <tr>
      <th>Chapter 4</th>
      <td style="background: green;">Finished</td>
    </tr>
    <tr>
      <th>Chapter 5</th>
      <td style="background: green;">Finished</td>
    </tr>
    <tr>
      <th>Chapter 6</th>
      <td style="background: green;">Finished</td>
    </tr>
    <tr>
      <th>Chapter 7</th>
      <td style="background: green;">Finished</td>
    </tr>
    <tr>
      <th>Chapter 8</th>
      <td style="background: yellow;">Started(88%)</td>
    </tr>
    <tr>
      <th>Chapter 9</th>
      <td style="background: red;">Not Started</td>
    </tr>
    <tr>
      <th>Chapter 10</th>
      <td style="background: red;">Not Started</td>
    </tr>
    <tr>
      <th>Chapter 11</th>
      <td style="background: red;">Not Started</td>
    </tr>
    <tr>
      <th>Chapter 12</th>
      <td style="background: red;">Not Started</td>
    </tr>
    <tr>
      <th>Chapter 13</th>
      <td style="background: red;">Not Started</td>
    </tr>
    <tr>
      <th>Chapter 14</th>
      <td style="background: red;">Not Started</td>
    </tr>
  </tbody>
</table>